# 5주차 실습문제 - 201710928 박수진

In [18]:
import pandas as pd

In [20]:
products = pd.DataFrame([{'Product ID':'4109', 'Price':'5.0', 'Product':'Sushi Roll'},
                        {'Product ID':'1412', 'Price':'0.5', 'Product':'Egg'},
                        {'Product ID':'8931', 'Price':'1.5', 'Product':'Bagel'}])
products.set_index('Product ID', inplace=True)
products

           Price     Product
Product ID
4109         5.0  Sushi Roll
1412         0.5         Egg
8931         1.5       Bagel

In [21]:
invoices = pd.DataFrame([{'Customer':'Ali', 'Product ID':'4109', 'Quantity':'1'},
                        {'Customer':'Eric', 'Product ID':'1412', 'Quantity':'12'},
                        {'Customer':'Ande', 'Product ID':'8931', 'Quantity':'6'},
                        {'Customer':'Sam', 'Product ID':'4109', 'Quantity':'2'}])
invoices

  Customer Product ID Quantity
0      Ali       4109        1
1     Eric       1412       12
2     Ande       8931        6
3      Sam       4109        2

In [23]:
merged = pd.merge(products, invoices, how='outer', left_index=True, right_on='Product ID')
merged.set_index('Product ID', inplace=True)
merged

           Price     Product Customer Quantity
Product ID
4109         5.0  Sushi Roll      Ali        1
4109         5.0  Sushi Roll      Sam        2
1412         0.5         Egg     Eric       12
8931         1.5       Bagel     Ande        6