# Nullable Data

In [1]:
import pandas as pd

purchase_1 = pd.Series({'Name':'Chris',
                       'Item Purchased':'Dog Food',
                       'Cost': 22.50})
purchase_2 = pd.Series({'Name':'Kevin',
                       'Item Purchased':'Kitty Litter',
                       'Cost': 2.50})
purchase_3 = pd.Series({'Name':'Chris',
                       'Item Purchased':'Bird Seed',
                       'Cost': 5.0})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store1', 'Store1', 'Store2'])
df.head()

         Name Item Purchased  Cost
Store1  Chris       Dog Food  22.5
Store1  Kevin   Kitty Litter   2.5
Store2  Chris      Bird Seed   5.0

In [2]:
df['Date'] = ['Dec. 1', 'January 1', 'mid-May']
df

         Name Item Purchased  Cost       Date
Store1  Chris       Dog Food  22.5     Dec. 1
Store1  Kevin   Kitty Litter   2.5  January 1
Store2  Chris      Bird Seed   5.0    mid-May

In [3]:
df['Delivered'] = True
df

         Name Item Purchased  Cost       Date  Delivered
Store1  Chris       Dog Food  22.5     Dec. 1       True
Store1  Kevin   Kitty Litter   2.5  January 1       True
Store2  Chris      Bird Seed   5.0    mid-May       True

In [4]:
df['Feedback'] = ['Positive', None, 'Negative']
df

         Name Item Purchased  Cost       Date  Delivered  Feedback
Store1  Chris       Dog Food  22.5     Dec. 1       True  Positive
Store1  Kevin   Kitty Litter   2.5  January 1       True      None
Store2  Chris      Bird Seed   5.0    mid-May       True  Negative

In [5]:
df['Date'] = pd.Series({'Store1':'May 5'})
df
# Nan, None: 데이터가 없는 경우

         Name Item Purchased  Cost   Date  Delivered  Feedback
Store1  Chris       Dog Food  22.5  May 5       True  Positive
Store1  Kevin   Kitty Litter   2.5  May 5       True      None
Store2  Chris      Bird Seed   5.0    NaN       True  Negative

# Merging DataFrames

In [6]:
staff_df = pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR'},
                        {'Name':'Sally', 'Role':'Course liasion'},
                        {'Name':'James', 'Role':'Grader'}])
staff_df = staff_df.set_index('Name')
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [7]:
student_df = pd.DataFrame([{'Name':'Mike', 'School':'Business'},
                          {'Name':'Sally', 'School':'Law'},
                          {'Name':'James', 'School':'Computer'}])
student_df.set_index('Name', inplace=True)
student_df

         School
Name
Mike   Business
Sally       Law
James  Computer

In [9]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role    School
Name
James          Grader  Computer
Kelly  Director of HR       NaN
Mike              NaN  Business
Sally  Course liasion       Law

In [10]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role    School
Name
Kelly  Director of HR       NaN
Sally  Course liasion       Law
James          Grader  Computer

In [11]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role    School
Name
Mike              NaN  Business
Sally  Course liasion       Law
James          Grader  Computer

In [12]:
# inner join == 교집합
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role    School
Name
Sally  Course liasion       Law
James          Grader  Computer

In [13]:
staff_df.reset_index(inplace=True)
staff_df

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader

In [14]:
student_df = student_df.reset_index()
student_df

    Name    School
0   Mike  Business
1  Sally       Law
2  James  Computer

In [16]:
pd.merge(staff_df, student_df, how='inner', left_on='Name', right_on='Name')

    Name            Role    School
0  Sally  Course liasion       Law
1  James          Grader  Computer

In [17]:
staff_df['Location'] = ['101', '102', 's101']
student_df['Location'] = ['401', '402', 's101']
print(staff_df)
print()
print(student_df)

    Name            Role Location
0  Kelly  Director of HR      101
1  Sally  Course liasion      102
2  James          Grader     s101

    Name    School Location
0   Mike  Business      401
1  Sally       Law      402
2  James  Computer     s101

In [18]:
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

    Name            Role Location_x    School Location_y
0  Kelly  Director of HR        101       NaN        NaN
1  Sally  Course liasion        102       Law        402
2  James          Grader       s101  Computer       s101

In [19]:
pd.merge(staff_df, student_df, how='inner', left_on=['Name', 'Location'], right_on=['Name', 'Location'])

    Name    Role Location    School
0  James  Grader     s101  Computer

# Group By

In [21]:
import numpy as np
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [22]:
df['STNAME'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [24]:
%%timeit -r 1
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state '+state+' have an average population of '+str(avg))

Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
951 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [25]:
df.groupby('STNAME').mean()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,49.852941,3.0,6.0,1.0,66.014706,1.405805e+05,1.405920e+05,1.407400e+05,1.412091e+05,1.416497e+05,...,-3.345764,-3.001198,-2.148770,-1.682116,-1.936334,-2.725005,-2.292901,-1.463650,-0.905197,-1.128223
Alaska,49.666667,4.0,9.0,2.0,144.666667,4.734873e+04,4.734993e+04,4.760140e+04,4.818133e+04,4.874853e+04,...,-1.153807,-5.151401,-9.098444,-17.894252,-13.001212,2.134501,-1.536076,-5.627717,-14.085226,-9.051064
Arizona,49.375000,4.0,8.0,4.0,13.000000,7.990021e+05,7.990384e+05,8.010260e+05,8.085915e+05,8.191578e+05,...,0.479230,-1.454404,-2.050185,2.279478,-0.067248,1.771913,-0.023229,-0.596425,3.924205,1.641436
Arkansas,49.868421,3.0,7.0,5.0,74.013158,7.673468e+04,7.673574e+04,7.690511e+04,7.732995e+04,7.761839e+04,...,-2.445447,-4.879146,-4.249296,-5.483343,-4.341265,-2.012963,-4.440494,-3.770100,-4.920219,-3.762177
California,49.830508,4.0,9.0,6.0,57.016949,1.262846e+06,1.262865e+06,1.265562e+06,1.277967e+06,1.290036e+06,...,-4.192174,-3.786564,-3.427118,-2.007672,-0.766426,-2.090790,-1.713330,-1.217442,0.523891,1.811619
Colorado,49.846154,4.0,8.0,8.0,61.276923,1.547445e+05,1.547484e+05,1.553309e+05,1.575225e+05,1.597456e+05,...,-3.298019,-4.977942,0.253766,0.318357,4.980275,-2.172311,-3.836376,1.505679,1.782417,6.467947
Connecticut,48.888889,1.0,1.0,9.0,7.111111,7.942438e+05,7.942484e+05,7.954927e+05,7.977242e+05,7.985647e+05,...,-3.860500,-6.180446,-4.774593,-7.468469,-7.098457,-0.366813,-2.782544,-1.283525,-3.388320,-2.966487
Delaware,47.500000,3.0,5.0,10.0,2.250000,4.489670e+05,4.489680e+05,4.498955e+05,4.539580e+05,4.585495e+05,...,4.478327,5.470803,5.214548,7.319979,7.004208,6.750610,8.091576,7.725541,10.138992,9.844298
District of Columbia,45.000000,3.0,5.0,11.0,0.500000,6.017230e+05,6.017670e+05,6.051260e+05,6.204720e+05,6.353420e+05,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.634120,8.378037,12.434838
Florida,49.852941,3.0,5.0,12.0,66.911765,5.529797e+05,5.530771e+05,5.544085e+05,5.619274e+05,5.691771e+05,...,0.979547,2.800472,4.829003,7.193992,10.895675,3.470416,5.326840,7.375903,10.138389,13.844303
Georgia,49.937500,3.0,5.0,13.0,160.481250,1.210957e+05,1.211085e+05,1.214182e+05,1.226535e+05,1.239705e+05,...,-3.732483,-4.878382,-3.928882,-1.780007,0.350776,-2.836543,-3.621045,-2.891501,-0.631554,1.593557
Hawaii,48.333333,4.0,9.0,15.0,4.166667,4.534337e+05,4.534337e+05,4.546600e+05,4.594090e+05,4.642137e+05,...,-0.245915,-0.800976,1.507302,0.654354,-1.453446,3.648422,3.913394,6.177927,5.706001,3.720997
Idaho,49.777778,4.0,8.0,16.0,43.022222,6.967031e+04,6.967342e+04,6.982160e+04,7.040596e+04,7.093764e+04,...,-8.543711,-9.679944,-5.035405,-2.578005,-0.448050,-7.854248,-8.825121,-4.097757,-1.488222,0.690367
Illinois,49.902913,2.0,3.0,17.0,101.009709,2.491385e+05,2.491563e+05,2.493446e+05,2.497453e+05,2.500032e+05,...,-3.545018,-5.916308,-5.588885,-6.415852,-6.583200,-2.883061,-5.210972,-4.832850,-5.534991,-5.688735
Indiana,49.892473,2.0,3.0,18.0,91.010753,1.394366e+05,1.394458e+05,1.395826e+05,1.401472e+05,1.406082e+05,...,-2.571383,-3.590640,-1.660356,-2.201163,-3.019635,-1.897948,-2.909838,-0.913553,-1.338054,-2.157711
Iowa,49.900000,2.0,4.0,19.0,98.010000,6.092710e+04,6.093738e+04,6.101388e+04,6.130778e+04,6.153272e+04,...,-2.559030,-4.399450,-2.441333,-2.649825,-3.717755,-1.740608,-3.606876,-1.572610,-1.625015,-2.687377
Kansas,49.905660,2.0,4.0,20.0,104.009434,5.383242e+04,5.383268e+04,5.394008e+04,5.414938e+04,5.445813e+04,...,-3.950697,-4.857359,-3.541408,-7.360560,-7.959766,-3.106460,-3.856868,-2.593956,-6.297516,-6.844159
Kentucky,49.917355,3.0,6.0,21.0,119.008264,7.172507e+04,7.172478e+04,7.186673e+04,7.219640e+04,7.244078e+04,...,0.055408,-3.728650,-2.526557,-1.900268,-1.526528,0.519852,-3.120999,-1.973509,-1.282231,-0.883223
Louisiana,49.846154,3.0,7.0,22.0,63.015385,1.394884e+05,1.394917e+05,1.398446e+05,1.407810e+05,1.416516e+05,...,-3.474790,-3.762494,-3.838920,-3.982423,-3.966177,-2.723966,-2.853650,-2.987906,-3.058349,-3.000496
Maine,49.411765,1.0,1.0,23.0,15.058824,1.562778e+05,1.562778e+05,1.561994e+05,1.562655e+05,1.563398e+05,...,-0.613929,-1.103471,-1.586375,-1.122782,-1.755134,0.028492,-0.346601,-0.815261,-0.233754,-0.865096
Maryland,49.600000,3.0,5.0,24.0,43.160000,4.618842e+05,4.619028e+05,4.630727e+05,4.675337e+05,4.712592e+05,...,1.003537,-2.000463,-1.052856,-2.144674,-1.952118,3.396201,0.420937,1.409956,0.615701,0.833938
Massachusetts,49.333333,1.0,1.0,25.0,13.066667,8.730172e+05,8.730423e+05,8.753381e+05,8.815729e+05,8.877040e+05,...,-0.963708,-0.722751,0.752073,-0.161111,-3.219423,3.047456,3.433998,5.116174,4.833723,1.741375
Michigan,49.880952,2.0,3.0,26.0,82.011905,2.353248e+05,2.353364e+05,2.351755e+05,2.351569e+05,2.354019e+05,...,-1.938847,-3.209375,-1.587716,-0.873096,-2.240729,-1.179993,-2.382996,-0.700194,0.131114,-1.238100
Minnesota,49.886364,2.0,4.0,27.0,86.011364,1.205438e+05,1.205438e+05,1.207023e+05,1.215482e+05,1.222828e+05,...,-2.355752,-5.407419,-2.230825,-3.310807,-2.767706,-1.459704,-4.546701,-1.281099,-2.234970,-1.689923
Mississippi,49.879518,3.0,6.0,28.0,81.012048,7.150113e+04,7.152055e+04,7.157388e+04,7.175901e+04,7.194361e+04,...,-6.745461,-5.546417,-3.870840,-5.444740,-7.074507,-6.372714,-5.095254,-3.437371,-4.967510,-6.574590
Missouri,49.913793,2.0,4.0,29.0,116.698276,1.032574e+05,1.032574e+05,1.033802e+05,1.036308e+05,1.038874e+05,...,-3.059543,-4.460210,-2.631748,-2.539604,-2.996055,-2.481754,-3.702700,-1.915292,-1.745257,-2.171529
Montana,49.824561,4.0,8.0,30.0,55.017544,3.471632e+04,3.471639e+04,3.475940e+04,3.500863e+04,3.526867e+04,...,2.329495,6.293529,5.400807,-0.550027,-0.135576,2.731017,6.706740,5.837909,-0.087574,0.336274
Nebraska,49.893617,2.0,4.0,31.0,92.010638,3.885832e+04,3.885832e+04,3.893670e+04,3.919964e+04,3.948879e+04,...,-4.006188,-4.644974,-4.669987,-5.655061,-3.326183,-3.421450,-3.999059,-3.985326,-4.878224,-2.538840
Nevada,49.444444,4.0,8.0,32.0,43.000000,3.000612e+05,3.000768e+05,3.003822e+05,3.020910e+05,3.060971e+05,...,-8.833703,4.789861,7.540836,-7.011390,-1.660230,-7.508344,6.008135,8.769259,-5.590689,-0.182868
New Hampshire,49.090909,1.0,1.0,33.0,9.090909,2.393582e+05,2.393575e+05,2.394015e+05,2.396989e+05,2.402533e+05,...,-2.121532,-1.278862,-1.507950,1.214976,-1.415010,-1.036917,-0.210224,-0.373640,2.542750,-0.084044
New Jersey,49.545455,1.0,2.0,34.0,20.045455,7.992631e+05,7.992669e+05,8.003528e+05,8.039031e+05,8.068085e+05,...,-5.015748,-5.697277,-5.576907,-5.777843,-7.331652,-0.580628,-1.536388,-1.134388,-0.699767,-2.252911
New Mexico,49.705882,4.0,8.0,35.0,29.264706,1.211282e+05,1.211289e+05,1.214554e+05,1.222486e+05,1.226348e+05,...,-1.899859,-8.559347,-8.384515,-13.149640,-6.875343,-1.136810,-7.440323,-7.322115,-11.949971,-5.589307
New York,49.841270,1.0,2.0,36.0,61.015873,6.151778e+05,6.151774e+05,6.159657e+05,6.197842e+05,6.224438e+05,...,-2.959764,-4.841647,-5.084846,-6.519762,-6.847809,-0.697907,-2.468041,-2.639574,-3.748221,-4.038662
North Carolina,49.900990,3.0,5.0,37.0,99.009901,1.888214e+05,1.888256e+05,1.892867e+05,1.911094e+05,1.930103e+05,...,0.359481,-1.524733,0.860389,0.637523,1.019081,1.289216,-0.292988,1.960016,1.831665,2.313254
North Dakota,49.814815,2.0,4.0,38.0,52.018519,2.491078e+04,2.491078e+04,2.498259e+04,2.538244e+04,2.600981e+04,...,9.451833,16.717412,15.353916,4.104144,6.679038,10.178562,17.685400,16.293701,5.143137,7.717923
Ohio,49.887640,2.0,3.0,39.0,87.011236,2.592473e+05,2.592522e+05,2.593431e+05,2.594481e+05,2.595906e+05,...,-2.540546,-4.366213,-2.672646,-2.286551,-2.993494,-1.953373,-3.731664,-2.004723,-1.516972,-2.221428
Oklahoma,49.871795,3.0,7.0,40.0,76.012821,9.618849e+04,9.619528e+04,9.639990e+04,9.709297e+04,9.788921e+04,...,0.508171,-1.008886,1.804725,-1.362607,-1.345767,1.167865,-0.190687,2.586180,-0.491743,-0.441090
Oregon,49.729730,4.0,9.0,41.0,35.027027,2.070851e+05,2.070850e+05,2.074579e+05,2.091086e+05,2.107808e+05,...,0.022076,-0.338707,-0.244525,1.877266,5.574651,0.777475,0.376182,0.554408,2.838808,6.558683
Pennsylvania,49.852941,1.0,2.0,42.0,66.014706,3.735994e+05,3.736143e+05,3.738828e+05,3.748589e+05,3.756703e+05,...,-0.492594,-1.441216,-3.031568,-2.622476,-3.305600,0.603322,-0.251711,-1.792030,-1.163071,-1.847809
Rhode Island,48.333333,1.0,1.0,44.0,4.166667,3.508557e+05,3.509770e+05,3.510730e+05,3.506187e+05,3.507977e+05,...,-6.081503,-3.752854,-2.773317,-1.733099,-2.278627,-3.775228,-1.048551,-0.204570,1.137026,0.723810
South Carolina,49.787234,3.0,5.0,45.0,45.021277,1.968240e+05,1.968256e+05,1.972721e+05,1.988397e+05,2.009081e+05,...,-2.188794,-1.165927,0.585352,2.663750,1.889932,-1.472263,-0.306189,1.327016,3.492896,2.782227
South Dakota,49.850746,2.0,4.0,46.0,66.940299,2.430388e+04,2.430421e+04,2.436713e+04,2.460564e+04,2.491436e+04,...,1.032046,0.486467,-0.228324,-6.370039,-5.201717,1.911915,1.439128,0.736253,-5.302795,-4.119402
Tennessee,49.895833,3.0,6.0,47.0,94.010417,1.322105e+05,1.322141e+05,1.324289e+05,1.333002e+05,1.344889e+05,...,0.642270,1.488856,1.754513,3.472692,2.562223,1.126826,2.052995,2.309163,4.114514,3.222675
Texas,49.960784,3.0,7.0,48.0,253.003922,1.972201e+05,1.972244e+05,1.979950e+05,2.012115e+05,2.046254e+05,...,-0.596213,-1.458664,1.003650,-1.107757,3.852611,0.596987,-0.318782,2.231198,0.294187,5.312238
Utah,49.666667,4.0,8.0,49.0,28.033333,1.842590e+05,1.842592e+05,1.850284e+05,1.877627e+05,1.904229e+05,...,-0.716764,-5.980517,1.905748,-1.422396,2.841584,0.118982,-5.076607,2.873422,-0.323116,3.945287
Vermont,49.333333,1.0,1.0,50.0,13.066667,8.343213e+04,8.343267e+04,8.346453e+04,8.355827e+04,8.351973e+04,...,-0.459612,-3.128597,-0.737506,-2.778558,-3.091008,0.173740,-2.423507,0.078297,-1.853272,-2.161046
Virginia,49.925373,3.0,5.0,51.0,262.022388,1.193718e+05,1.194186e+05,1.197879e+05,1.210565e+05,1.222892e+05,...,-0.209272,-0.315519,0.324219,-0.856239,-0.597528,1.425543,1.554178,2.106060,1.113487,1.428749
Washington,49.750000,4.0,9.0,53.0,38.025000,3.362270e+05,3.362272e+05,3.371530e+05,3.411615e+05,3.448646e+05,...,2.792664,-0.344264,0.244500,2.097758,5.330205,4.071678,1.142338,1.740031,3.845933,7.155971
West Virginia,49.821429,3.0,5.0,54.0,54.017857,6.617836e+04,6.617896e+04,6.622232e+04,6.624814e+04,6.629582e+04,...,-0.182017,-1.091349,-2.358533,-3.569631,-3.059390,0.165489,-0.709094,-1.979607,-3.144217,-2.635547
Wisconsin,49.863014,2.0,3.0,55.0,70.123288,1.558078e+05,1.558161e+05,1.558960e+05,1.564307e+05,1.568883e+05,...,-0.167859,-3.703912,-0.918961,-1.283572,-2.485132,0.336399,-3.125900,-0.289083,-0.544351,-1.739969
Wyoming,49.583333,4.0,8.0,56.0,22.041667,4.696883e+04,4.698058e+04,4.704300e+04,4.731400e+04,4.809000e+04,...,-2.123706,4.634001,3.667630,-5.553180,-2.724946,-1.468521,5.328961,4.388464,-4.710593,-1.858504

In [26]:
%%timeit -r 1
for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print('Counties in state '+group+' have an average population of '+str(avg))

Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763

Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836

Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
Counties in state Alabama have an average population of 140580.4705882353
Counties in state Alaska have an average population of 47348.73333333333
Counties in state Arizona have an average population of 799002.125
Counties in state Arkansas have an average population of 76734.68421052632
Counties in state California have an average population of 1262845.9661016949
Counties in state Colorado have an average population of 154744.4923076923
Counties in state Connecticut have an average population of 794243.7777777778
Counties in state Delaware have an average population of 448967.0
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 552979.7058823529
Counties in state Georgia have an average population of 121095.6625
Counties in state Hawaii have an average population of 453433.6666666667
Counties in state Idaho have an average population of 69670.3111111111
Counties in state Illinois have an average population of 249138.4854368932
Counties in state Indiana have an average population of 139436.60215053763
Counties in state Iowa have an average population of 60927.1
Counties in state Kansas have an average population of 53832.41509433962
Counties in state Kentucky have an average population of 71725.07438016529
Counties in state Louisiana have an average population of 139488.36923076923
Counties in state Maine have an average population of 156277.76470588235
Counties in state Maryland have an average population of 461884.16
Counties in state Massachusetts have an average population of 873017.2
Counties in state Michigan have an average population of 235324.7619047619
Counties in state Minnesota have an average population of 120543.75
Counties in state Mississippi have an average population of 71501.13253012048
Counties in state Missouri have an average population of 103257.36206896552
Counties in state Montana have an average population of 34716.31578947369
Counties in state Nebraska have an average population of 38858.31914893617
Counties in state Nevada have an average population of 300061.22222222225
Counties in state New Hampshire have an average population of 239358.18181818182
Counties in state New Jersey have an average population of 799263.0909090909
Counties in state New Mexico have an average population of 121128.17647058824
Counties in state New York have an average population of 615177.8412698413
Counties in state North Carolina have an average population of 188821.44554455444
Counties in state North Dakota have an average population of 24910.777777777777
Counties in state Ohio have an average population of 259247.2808988764
Counties in state Oklahoma have an average population of 96188.48717948717
Counties in state Oregon have an average population of 207085.0810810811
Counties in state Pennsylvania have an average population of 373599.3823529412
Counties in state Rhode Island have an average population of 350855.6666666667
Counties in state South Carolina have an average population of 196824.0
Counties in state South Dakota have an average population of 24303.880597014926
Counties in state Tennessee have an average population of 132210.52083333334
Counties in state Texas have an average population of 197220.0862745098
Counties in state Utah have an average population of 184259.0
Counties in state Vermont have an average population of 83432.13333333333
Counties in state Virginia have an average population of 119371.83582089552
Counties in state Washington have an average population of 336227.0
Counties in state West Virginia have an average population of 66178.35714285714
Counties in state Wisconsin have an average population of 155807.83561643836
Counties in state Wyoming have an average population of 46968.833333333336
22.6 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 10 loops each)

# Slicing

In [27]:
df = df.set_index('STNAME')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4779736,4780127,4785161,4801108,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alabama,50,3,6,1,3,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Alabama,50,3,6,1,5,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Alabama,50,3,6,1,7,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,50,4,8,56,37,Sweetwater County,43806,43806,43593,44041,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
Wyoming,50,4,8,56,39,Teton County,21294,21294,21297,21482,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
Wyoming,50,4,8,56,41,Uinta County,21118,21118,21102,20912,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
Wyoming,50,4,8,56,43,Washakie County,8533,8533,8545,8469,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
Wyoming,50,4,8,56,45,Weston County,7208,7208,7181,7114,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [28]:
def distribute(item):
    if item[0] < 'M':
        return 0
    if item[0] < 'Q':
        return 1
    return 2

for group, frame in df.groupby(distribute):
    print('There are '+str(len(frame))+' records in group '+str(group)+' for processing')

There are 1196 records in group 0 for processing
There are 1154 records in group 1 for processing
There are 843 records in group 2 for processing