# Data Acquisition: From File system

In [1]:
import pandas as pd

In [2]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
df = df.set_index('message')
# df.set_index('message', inplace=True)
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
dft = pd.read_table('ex1.csv')
dft

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [11]:
dft = pd.read_table('ex1.csv', sep=',')
dft

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
!type ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
df2 = pd.read_csv('ex2.csv')
df2

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [14]:
df2 = pd.read_csv('ex2.csv', header=None)
df2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [15]:
df2 = pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
name = ['a', 'b', 'c', 'd', 'message']

df2 = pd.read_csv('ex2.csv', names=name, index_col='message')
df2

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
!type ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

skiprows: 불필요한 행 삭제

In [20]:
df4 = pd.read_csv('ex4.csv', skiprows=[0, 2, 3])
df4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
!type ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [21]:
df5 = pd.read_csv('ex5.csv')
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [22]:
pd.isnull(df5)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

na_values: null 값 설정 가능

In [23]:
sentinels = {'something':['two'], 'message':['world', 'NA']}
pd.read_csv('ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8     NaN
2     three  9  10  11.0  12     foo

# Writing Data to Text format

In [24]:
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
df5.to_csv('out.csv')

In [26]:
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

na_rep(representation): 표현될 na 값 설정

In [27]:
df5.to_csv('out.csv', na_rep='NULL')

In [28]:
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [29]:
df5.to_csv('out.csv', index=False, header=False)

In [30]:
!type out.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [31]:
df5.to_csv('out.csv', sep='&')

In [32]:
!type out.csv

&something&a&b&c&d&message
0&one&1&2&3.0&4&
1&two&5&6&&8&world
2&three&9&10&11.0&12&foo