# The Series Data Structure

In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
animals

['Tiger', 'Bear', 'Moose']

In [4]:
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [5]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
animals = ['Tiger', 'Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [7]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np

In [9]:
np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [12]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
          'Sumo':'Japan',
          'Taekwondo':'South Korea'}
s = pd.Series(sports)

In [13]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [15]:
s.index        # index -> method가 아닌 attribute(속성)임

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [16]:
s1 = pd.Series(['Tiger', 'Bear', 'Moose'], index=['Indea', 'America', 'Canada'])
s1

Indea      Tiger
America     Bear
Canada     Moose
dtype: object

In [17]:
s2 = pd.Series(sports, index=['Golf', 'Sumo'])
s2

Golf    Scotland
Sumo       Japan
dtype: object

# Querying a Series Data Structure

In [18]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [19]:
s.iloc[2]

'Japan'

In [20]:
s.loc['Taekwondo']

'South Korea'

In [21]:
s[2]

'Japan'

In [22]:
s['Taekwondo']

'South Korea'

In [23]:
sports = {5:'Bhutan',
          6:'Scotland',
          7:'Japan',
          8:'South Korea'}
s3 = pd.Series(sports)
s3

5         Bhutan
6       Scotland
7          Japan
8    South Korea
dtype: object

In [27]:
s3.iloc[0]        # s3[0]으로 실행할 경우 오류 발생

'Bhutan'

In [28]:
s4 = pd.Series([100, 120, 101, 3])
s4

0    100
1    120
2    101
3      3
dtype: int64

In [29]:
total = 0
for item in s4:
    total += item
print(total)

324

In [30]:
total = np.sum(s4)
print(total)

324

In [31]:
s5 = pd.Series(np.random.randint(0, 1000, 10000))
s5

0       125
1       244
2       173
3       730
4       208
       ...
9995     92
9996     47
9997    911
9998    400
9999    753
Length: 10000, dtype: int32

In [32]:
s5.head()

0    125
1    244
2    173
3    730
4    208
dtype: int32

In [33]:
%%timeit -n 100
total = 0
for item in s5:
    total += item

1.49 ms ± 74.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [34]:
%%timeit -n 100
total = np.sum(s5)

105 µs ± 41.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
# Add data
s6 = pd.Series([1, 2, 3])
s6

0    1
1    2
2    3
dtype: int64

In [37]:
s6.loc['Animal'] = 'Bears'
s6

0             1
1             2
2             3
Animal    Bears
dtype: object

In [38]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [40]:
crickect_countries = pd.Series(['Australia', 'Pakistan', 'England'], index = ['Cricket', 'Cricket', 'Cricket'])
crickect_countries

Cricket    Australia
Cricket     Pakistan
Cricket      England
dtype: object

In [41]:
all_countries = s.append(crickect_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Pakistan
Cricket          England
dtype: object

In [42]:
s            # append 후에도 데이터 변화 없음

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [43]:
all_countries['Cricket']

Cricket    Australia
Cricket     Pakistan
Cricket      England
dtype: object

In [44]:
all_countries['Sumo']

'Japan'