# Reading and Analyzing CSV files

In [2]:
import csv

In [5]:
%precision 2

'%.2f'

In [7]:
with open('car.csv') as csvfile:
    cars = list(csv.DictReader(csvfile))

In [25]:
cars[:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

In [9]:
len(cars)

234

In [10]:
cars[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [12]:
sum(float(d['cty']) for d in cars) / len(cars)     # 전체 cty 평균값 구하기

16.86

In [13]:
sum(float(d['hwy']) for d in cars) / len(cars)

23.44

In [15]:
cylinder = set(d['cyl'] for d in cars)
cylinder

{'4', '5', '6', '8'}

In [16]:
cty_mpg_by_cyl = []

In [17]:
for c in cylinder:
    summpg = 0
    cyltypecount = 0
    
    for d in cars:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    cty_mpg_by_cyl.append((c, summpg / cyltypecount))

In [18]:
cty_mpg_by_cyl

[('5', 20.50), ('8', 12.57), ('4', 21.01), ('6', 16.22)]

In [19]:
cty_mpg_by_cyl.sort(key=lambda x: x[0])
cty_mpg_by_cyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [20]:
vehicle_class = set(d['class'] for d in cars)
vehicle_class

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

### class별 hwy 평균값 구하기 + 평균값으로 정렬

In [21]:
hwy_mpg_by_class = []

In [22]:
for v in vehicle_class:
    summpg = 0
    hwytypecount = 0
    
    for d in cars:
        if d['class'] == v:
            summpg += float(d['hwy'])
            hwytypecount += 1
    hwy_mpg_by_class.append((v, summpg / hwytypecount))

In [23]:
hwy_mpg_by_class

[('compact', 28.30),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('pickup', 16.88),
 ('minivan', 22.36),
 ('subcompact', 28.14),
 ('suv', 18.13)]

In [24]:
hwy_mpg_by_class.sort(key=lambda x: x[1])
hwy_mpg_by_class

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]