# The Python Programming: Dates and Times

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1616306955.2383096

In [3]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 3, 21, 15, 21, 21, 346922)

In [4]:
dtnow.year

2021

In [5]:
dtnow.month

3

In [11]:
delta = dt.timedelta(days = 100)        # 날짜 비교할 때 사용: timedelta

In [7]:
today = dt.date.today()
today

datetime.date(2021, 3, 21)

In [12]:
today - delta                           # delta를 이용해 100일전 날 구하기

datetime.date(2020, 12, 11)

In [10]:
today > today - delta

True

# The Python Programming: Objects

In [13]:
class Person:
    department = 'Department of Computer Science'
    
    def set_name(self, new_name):
        self.name = new_name

In [14]:
person = Person()

In [15]:
person.set_name('psj')

In [16]:
print('{} in department {}'.format(person.name, person.department))

psj in department Department of Computer Science

# The Python Programming: map() function

In [26]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.87]

In [27]:
cheapest = map(min, store1, store2)

In [28]:
cheapest                   # 함수형 프로그래밍을 통해 미리 매핑을 한 후 필요할 때만 연산 실행

In [29]:
for item in cheapest:     # cheapest에서 미리 연산하지 않고 필요할 때만 연산 실행
    print(item)

9.0
11.0
12.34
2.34